*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cont-output{
  display: none;
}


body {
  background-color: #0a3871;
  font-family: Tahoma, sans-serif;
}
.container {
  margin: 40px auto;
  width: 1440px;
  height: 1024px;
  background-color:#95a9f0;
  display: flex;
}

.logo {
  margin-top: 40px;
  margin-left: 44px;
}

.cont-input {
  width: 950px;
  height: 1024px;
}

#txt-a-encriptar{
  width: 577px;
  font-size: 32px;
  background-color:#95a9f0;
  color: #0a3871;
  margin-top: 168px;
  margin-left: 240px;
  line-height: 48px;
  line-height: 150%;
  resize: none;
  border-style: none;

}

::placeholder { 
    color:#0a3871; 
}


.cont-rules {
  width: 300px;
  height: 16px;  
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 16px;
  color:#495057;
  opacity: 0.80;
}

.vector{
    width: 16px;
    margin-right: 8px;
}

button {
  width: 328px;
  height: 67px;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #0a3871;
  border-radius: 24px;

}

.encriptar{
  margin-left: 200px;
  margin-right: 20px;

  background-color: #0a3871;
  color: rgb(174, 231, 250);
}

.desencriptar{
background-color:#d2d9f2;
color: #0A3871;
}

.cont-desencriptador {
  width: 400px;
  height: 944px;
  background-color: #d2d9f2;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 32px;
}

.munieco {
  margin-top: 243px;
  width: 100%;
}

h2 {
  text-align: center;
  width: 336px;
  height: 58px;
  font-size: 24px;
  line-height: 29px;
  color: #343A40;
  font-style: bold;
  margin: auto;
}

.indicaciones {
    text-align: center;
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color:#495057;
    margin: 16px auto;
  }

#txt-desencriptado{
  width: 336px;
  height: 781px;
  margin-top: 32px;
  margin-left: 32px;
  font-size: 24px;
  line-height: 36x;
  color: #0A3871;
  resize: none;
  /* border-style: none; */
  background-color: #d2d9f2;
}


.copy{
  margin-left: 32px;
  margin-top: 20px;
  
}

  footer{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; 
  }


  .des{
    color: red;
  }
  
/****####---- DISEÑO RESPONSIVE TABLET ----####****/


@media (max-width:960px){

.container{
  margin: 0;
  flex-direction: column;
  width: 768px;
  height: 1384px;
  
}


.logo {
  margin-top: 74px;
  margin-left: 40px;
}


.cont-input {
  background-color:#95a9f0;
  width: 768px;

  
}

#txt-a-encriptar {
  width: 688px;
  margin-top: 120px;
  margin-left: 40px;
  
}

.cont-rules {
  height: 18px;  
  margin-top: 50pxpx;
  margin-left: 64px;
}

.encriptar{
  margin-left: 40px;
}

.cont-desencriptador {
  width: 688px;
  height: 343px;
  background-color:white;
  margin-left: 40px;
  margin-bottom: 40px;

}

.munieco {
display: none;
}

#cont-ocultar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


h2 {
  width: 100%;
  height: 29px;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
}

.indicaciones {
    text-align: center;
    width: 204px;
    height: 18px;
    font-size: 12px;
  }


#txt-desencriptado{
  width: 624px;
  height: 180px;

}


.copy{
  margin-left: 180px;
  
}
  

  footer{
    font-size: 16px;
    margin-top: 20px;
  }

}

/****####---- DISEÑO RESPONSIVE MOBILE ----####****/

@media (max-width:480px){

.container{
  margin-left: 0;
  flex-direction: column;
  width: 375px;
  height: 1270px;
  
}

.logo {
  margin-top: 24px;
  margin-left: 16px;
}


.cont-input {
  background-color:#95a9f0;
  width: 375px;

  
}

#txt-a-encriptar {
  width: 343px;
  margin-top: 20px;
  margin-left: 15px;
}

.cont-rules {
  height: 18px;  
  margin-left: 16px;
  margin-top: 10px;
}

.encriptar{
  margin-left: 16px;
}

.desencriptar{
  margin-left: 16px;
  margin-top: 40px;
}
.cont-desencriptador {
  width: 327px;
  height: 500px;
  margin: 40px auto;
}
.munieco {
  display: block;
  margin: 10px;
  }
  
#cont-ocultar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


h2 {
margin: 10px auto;
  width: 263px;
  height: 58px;
}

.indicaciones {
    width: 263px;
    height: 48px;
    margin: 10px auto;
  }
  #cont-output{
    width: 327px;
    height: 500px;
    margin: 40px auto;
  
  }


  #txt-desencriptado{
    width: 287px;
    height: 350px;
    margin: 20px;
  
  }

.copy{
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom:40px ;

    width: 100px;
    height: 60px;
    
  }
    
  footer{
    font-size: 16px;
    margin-top: 20px;
  }

}