*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;

}

:root{
  --pink: #f1005c;
  --black: #000000;
  --violet: #a525ac;
  --aqua: #4daaa7;
  --gray:#232323;
  --lightGray:#ada8a8;
}


body {
  /* background-color: var(--gray); */
  background: linear-gradient(45deg,var(--black),var(--pink),var(--violet),var(--black));
}
.container {
  margin: 40px auto;
  width: 1440px;
  height: 1024px;
  background-color:var(--black);
  display: flex;
  border: 2px solid var(--pink);
}

.logo {
  margin-top: 40px;
  margin-left: 44px;
}

.cont-input {
  width: 950px;
  height: 1024px;
}

#txt-a-encriptar{
  width: 577px;
  font-size: 32px;
  background-color:var(--black);
  margin-top: 168px;
  margin-left: 240px;
  line-height: 48px;
  line-height: 150%;
  resize: none;
  border-style: none;
  color: var(--pink);

}

::placeholder { 
    color:var(--pink); 
}

textarea:focus{
  outline: 0 none;
}

.cont-rules {
  width: 300px;
  height: 16px;  
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 16px;
  color:var(--lightGray);
  opacity: 0.80;
}

.vector{
    width: 16px;
    margin-right: 8px;
}

button {
  width: 328px;
  height: 67px;
  font-size: 28px;
  font-weight: 400;
  border: 2px solid ;
  border-color: var(--violet);
  border-radius: 24px;

}

.encriptar{
  margin-left: 200px;
  margin-right: 20px;
  border: 4px solid var(--aqua);
  background-color: var(--violet);
  color: var(--black);
}

.encriptar:hover{
  background-color: var(--aqua);

}

.desencriptar{
background-color:var(--aqua);
color: var(--black);
border: 4px solid var(--violet);
}

.desencriptar:hover{
  background-color: var(--violet);
}


.cont-desencriptador {
  width: 400px;
  height: 944px;
  background-color: var(--black);
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 32px;
  border: 4px solid;
  border-color: var(--aqua);
  /* background: linear-gradient(var(--pink),var(--violet)); */
}

.munieco {
  margin-top: 243px;
  width: 100%;
}

h2 {
  text-align: center;
  width: 336px;
  height: 58px;
  font-size: 32px;
  line-height: 29px;
  color: var(--violet);
  font-style: bold;
  margin: auto;
}

.indicaciones {
    text-align: center;
    width: 336px;
    height: 48px;
    font-size: 28px;
    line-height: 24px;
    color:var(--lightGray);
    margin: 16px auto;
  }

  #cont-output{
    display: none;
  }
  


#txt-desencriptado{
  width: 336px;
  height: 781px;
  margin-top: 32px;
  margin-left: 32px;
  font-size: 32px;
  line-height: 36x;
  color: var(--pink);
  resize: none;
  border-style: none;
  background-color: var(--black);
  /* background: linear-gradient(var(--pink),var(--violet)); */
}


.copy{
  margin-left: 32px;
  margin-top: 20px;
  background-color: var(--violet);
  
}

  footer{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px; 
    color: var(--black);
  }

  
/****####---- DISEÑO RESPONSIVE TABLET ----####****/


@media (max-width:960px){

.container{
  margin: 0;
  flex-direction: column;
  width: 768px;
  height: 1384px;
  
}


.logo {
  margin-top: 74px;
  margin-left: 40px;
}


.cont-input {
  width: 768px;
}

#txt-a-encriptar {
  width: 688px;
  margin-top: 120px;
  margin-left: 40px;
  
}

.cont-rules {
  height: 18px;  
  margin-top: 50pxpx;
  margin-left: 64px;
}

.encriptar{
  margin-left: 40px;
}

.cont-desencriptador {
  width: 688px;
  height: 343px;
  margin-left: 40px;
  margin-bottom: 40px;

}

.munieco {
display: none;
}

#cont-ocultar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


h2 {
  width: 100%;
  height: 29px;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
}

.indicaciones {
    text-align: center;
    width: 204px;
    height: 18px;
  }


#txt-desencriptado{
  width: 624px;
  height: 180px;
  margin-top: 20px;

}


.copy{
  margin-left: 180px;
  
}
  

  footer{
    margin-top: 20px;
  }

}

/****####---- DISEÑO RESPONSIVE MOBILE ----####****/

@media (max-width:480px){

.container{
  margin-left: 0;
  flex-direction: column;
  width: 375px;
  height: 1270px;
  
}

.logo {
  margin-top: 24px;
  margin-left: 16px;
}


.cont-input {
  width: 375px;

  
}

#txt-a-encriptar {
  width: 343px;
  margin-top: 20px;
  margin-left: 15px;
}

.cont-rules {
  height: 18px;  
  margin-left: 16px;
  margin-top: 10px;
  font-size: 18px;
}

.encriptar{
  margin-left: 16px;
}

.desencriptar{
  margin-left: 16px;
  margin-top: 40px;
}
.cont-desencriptador {
  width: 327px;
  height: 500px;
  margin: 40px auto;
}
.munieco {
  display: block;
  margin: 10px;
  }
  
#cont-ocultar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


h2 {
margin: 10px auto;
  width: 263px;
  height: 58px;
}

.indicaciones {
    width: 263px;
    height: 48px;
    margin: 10px auto;
  }
  #cont-output{
    width: 327px;
    height: 500px;
    margin: 40px auto;
  
  }


  #txt-desencriptado{
    width: 287px;
    height: 350px;
    margin-top: 0px;
  

  
  }

.copy{
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom:40px ;

    width: 100px;
    height: 60px;
    
  }
    
  footer{
    font-size: 20px;
    margin-top: 20px;
  }

}